// @charset "uft-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  display: block;
}
/* menu  */
.main_header {
  width: 100%;
  height: 120px;
  background: #f6f5ef;
  position: relative;
  .header_box {
    width: 1100px;
    height: 120px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    .logo {
      margin-top: 22.5px;
    }
    .menu_area {
      display: flex;
      flex-direction: column;
      .tnb > ul {
        float: right;
        margin: 20px 20px 20px 0;
        li {
          height: 30px;
          line-height: 30px;
          float: left;
          a {
            display: block;
            text-align: center;
            font-size: 14px;
            color: #555;
            margin-right: 30px;
          }
        }
      }
      .gnb {
        ul {
          display: flex;
          height: 50px;
          margin-right: 100px;
          li {
            height: 50px;
            line-height: 50px;
            a {
              display: block;
              text-align: center;
              font-size: 15px;
              padding: 0 15px;
              color: #333;
            }
            .sub_bg {
              position: absolute;
              width: 100%;
              top: 120px;
              left: 0;
              background: #2c2a29;
              display: none;
              z-index: 5000;
              .sub {
                width: 1100px;
                margin: 0 auto;
                ul {
                  // width: 1100px;
                  width: 100%;
                  display: flex;
                  li {
                    width: 25%;
                    position: relative;
                    a {
                      font-size: 18px;
                      color: #fff;
                    }
                    .sub2 {
                      ul {
                        // width: 100%;
                        display: block;
                        position: absolute;
                        top: 40px;
                        li {
                          width: 100%;
                          height: 27px;
                          line-height: 27px;
                          a {
                            font-size: 14px;
                            color: #888;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .bg_1 {
              height: 260px;
            }
            .bg_2 {
              height: 330px;
            }
            .bg_3 {
              height: 120px;
            }
            .bg_4 {
              height: 230px;
            }
            .bg_5 {
              height: 240px;
            }
            .bg_6 {
              height: 150px;
            }
            .bg_7 {
              height: 200px;
            }
          }
        }
      }
    }
  }
}

/* container */

/* main_top*/

.main_top {
  width: 100%;
  height: auto;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .top_contents {
    position: absolute;
    display: flex;
    width: 1100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    .main_top_txt {
      margin-right: 40px;
      a {
        display: block;
        width: 100px;
        height: 40px;
        border: 2px solid #046241;
        color: #046241;
        margin: 0 auto;
        text-align: center;
        line-height: 40px;
        margin-top: 40px;
        border-radius: 5px;
        transition: all 0.3s;
      }
      a:hover {
        background: #046241;
        color: #fff;
      }
    }
    .main_top_drinks {
      display: flex;
      img {
        height: 250px;
        object-fit: cover;
      }
      img:nth-child(2) {
        margin-top: 30px;
      }
      img:nth-child(3) {
        margin-top: 15px;
      }
      img:hover {
        animation-name: move_img;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: linear;
      }
      @keyframes move_img {
        0% {
          transform: rotate(-5deg);
        }
        50% {
          transform: rotate(5deg);
        }
        75% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-5deg);
        }
      }
    }
  }
}

/* content1 */

.content1 {
  width: 100%;
  height: 400px;
  position: relative;
  .content1_bg {
    width: 100%;
    height: 400px;
  }
  .content1_wrap {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 250px;
    .content1_l {
      img {
        margin: 0 auto;
      }
      img:nth-child(1) {
        margin-bottom: 5px;
      }
      a {
        display: block;
        width: 100px;
        height: 35px;
        line-height: 35px;
        border-radius: 5px;
        border: 2px solid #966932;
        color: #966932;
        text-align: center;
        margin: 20px auto 0;
        transition: all 0.3s;
      }
      a:hover {
        background: #966932;
        color: #fff;
      }
    }
    .content1_r {
      img {
        width: 300px;
      }
    }
  }
}

/* content2 */

.content2 {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  .content2_wrap {
    width: 1100px;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    .content2_l {
      width: 60%;
      height: auto;
      img {
        width: 100%;
        height: auto;
        margin: 15% auto 0;
      }
    }
    .content2_r {
      display: flex;
      justify-content: right;
      flex-direction: column;
      img {
        margin: 30px 20% 30px 0;
        width: 80%;
        opacity: 0;
        transition: all 0.3s;
        transition-delay: 0.5s;
      }
      p {
        color: #fff;
        font-size: 15px;
        text-align: left;
        margin-bottom: 7px;
        opacity: 0;
        transition: all 0.5s;
        transition-delay: 0.7s;
        .txt_br {
          display: block;
        }
      }
    }
  }
  .content2_op {
    opacity: 1 !important;
  }
}
.content2::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 800px;
  width: 100%;
  background: url("./images/content2_bg.png");
  background-attachment: fixed;
  z-index: -1;
}
/* reward section */

.reward {
  width: 100%;
  height: 400px;
  display: flex;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #1e3932;
  align-items: center;
  justify-content: center;
  gap: 100px;
  .reward_txt {
    width: 520px;
    .txt_t {
      font-size: 16px;
      position: relative;
      margin-bottom: 160px;
      display: flex;
      justify-content: center;
      .t_area {
        position: absolute;
        top: 10px;
        opacity: 0;
        h4 {
          font-size: 26px;
          font-weight: bold;
          margin-bottom: 8px;
          .txt_bold {
            font-weight: bold;
          }
        }
        .reward_btn {
          display: flex;
          justify-content: center;
          position: absolute;
          left: 50%;
          bottom: -60px;
          transform: translateX(-50%);
          opacity: 0;
          a {
            transition: all 0.3s;
          }
          a:hover {
            background: #fff;
            color: #00704a;
            border: 2px solid #00704a;
          }
          .txt_join,
          .txt_login {
            display: block;
            text-align: center;
            color: #fff;
            border: 2px solid #fff;
            background: #00704a;
            border-radius: 5px;
            width: 70px;
            height: 35px;
            line-height: 35px;
          }
          .txt_join {
            margin-right: 10px;
          }
        }
      }
    }
    .txt_b {
      position: relative;
      .txt_box {
        position: absolute;
        top: 15px;
        opacity: 0;
      }
      .txt_gift_card {
        display: block;
        text-align: center;
        color: #fff;
        border: 2px solid #fff;
        background: #00704a;
        border-radius: 5px;
        width: 170px;
        height: 35px;
        line-height: 35px;
        transition: all 0.3s;
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
      }
      .txt_gift_card:hover {
        background: #fff;
        color: #00704a;
        border: 2px solid #00704a;
      }
    }
  }

  .reward_1 {
    bottom: -50px !important;
    opacity: 1 !important;
    transition: all 0.3s;
    transition-delay: 0.4s;
  }
  .reward_2 {
    top: -20px !important;
    transition: all 0.5s;
    transition-delay: 0.6s;
    opacity: 1 !important;
  }
  .reward_3 {
    top: -30px !important;
    opacity: 1 !important;
    transition: all 0.3s;
    transition-delay: 0.4s;
  }
  .reward_4 {
    top: 25px !important;
    opacity: 1 !important;
    transition: all 0.5s;
    transition-delay: 0.6s;
  }
}

/* slide_area */
.slide_area {
  background: #efc;
  // width: 100%;
  // display: flex;
  position: relative;
  z-index: 10;
  .slide_txt {
    position: absolute;
    top: 0;
    left: -35%;
    transform: translate(0, 35%);
    h4 {
      font-size: 36px;
      margin-bottom: 10px;
      color: #046241;
      // color: #fff;
      .txt_br {
        display: block;
        font-size: 36px;
      }
    }
    h3 {
      font-size: 26px;
      // margin-bottom: 30px;
      margin-bottom: 20%;
      color: #046241;
      // color: #fff;
    }
    p {
      margin-bottom: 5px;
      font-size: 15px;
      color: #046241;
      // color: #fff;
    }
  }
  #product-carousel-container {
    position: relative;
    width: 50%;
    margin: auto;
    #product-carousel {
      height: 35vw;
      // height: 300px;
      // margin: 0px 0 0px;
      list-style: none;
      position: relative;

      li {
        position: absolute;
        left: 90%;
        top: 10%;
        width: 25%;
        height: 100%;
        padding: 0;
        cursor: pointer;
        transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 1;

        &.item-1 {
          z-index: 2;
          transform: translateX(-50%) scale(1) translate3d(0, 0, 0);
        }

        &.item-2 {
          z-index: 1;
          transform: translateX(-50%) scale(0.7) translate3d(240%, -10%, 0);
        }

        &.item-3 {
          z-index: 0;
          transform: translateX(-50%) scale(0.5) translate3d(180%, -31%, 0);
        }

        &.item-4 {
          z-index: 0;
          transform: translateX(-50%) scale(0.5) translate3d(-180%, -31%, 0);
        }

        &.item-5 {
          z-index: 1;
          transform: translateX(-50%) scale(0.7) translate3d(-240%, -10%, 0);
        }

        &:after {
          content: "";
          position: absolute;
          top: 0px;
          left: 50%;
          display: block;
          width: 100%;
          height: 100%;
          background: url(https://www.7up.com/images/bottle-shadow.png)
            no-repeat 50% 70%;
          background-size: 100% auto;
          transform: translateX(-50%);
          transition: 0.25s;
        }

        &:hover {
          img {
            transform: translateY(-15px);
          }

          &:after {
            width: 90%;
          }
        }

        &:not(:hover) {
          img {
            transition: transform 0.075s ease-out;
          }

          &:after {
            transition: 0.075s;
          }
        }

        img {
          width: 100%;
          height: auto;
          // margin-top: 50%;
          transition: transform 0.25s ease-in;
        }
        span {
          position: absolute;
          width: 100%;
          // top: 50%;
          bottom: 20%;
          left: 50%;
          // transform: translate(-50%, -50%);
          transform: translate(-50%, -20%);
          text-align: center;
          color: #046241;
          font-weight: bold;
        }
      }
    }
  }
}

.content3 {
  width: 100%;
  height: 400px;
  position: relative;
  .content3_bg {
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: -1;
  }
  .content3_img1 {
    height: 228px;
    left: 390px;
    position: absolute;
    top: 149px;
    width: 228px;
    z-index: 5;
    background-size: contain;
  }
  .content3_img2 {
    height: 312px;
    left: 160px;
    position: absolute;
    top: 0;
    width: 366px;
    z-index: 4;
    background-size: contain;
  }
  .content3_img3 {
    height: 142px;
    left: 520px;
    position: absolute;
    top: -60px;
    bottom: 0;
    width: 343px;
    z-index: 4;
  }
  .content3_img4 {
    height: 102px;
    position: absolute;
    right: 30px;
    top: 298px;
    width: 230px;
    z-index: 4;
  }
  .content3_txt {
    position: absolute;
    right: -500px;
    top: 50%;
    transform: translateY(-50%);
    color: #444;
    transition: all 0.8s;
    h4 {
      font-size: 32px;
      font-weight: normal;
    }
    .sub_title {
      font-size: 24px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 4px;
      color: #444;
    }
    a {
      display: block;
      width: 120px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border: 2px solid #787878;
      margin-top: 30px;
      color: #444;
      border-radius: 5px;
    }
    a:hover {
      background: #444;
      color: #fff;
    }
  }
  .content3_active {
    right: 150px;
  }
}

.main_footer {
  width: 100%;
  height: auto;
  // display: flex;
  background: #2c2a29;
  color: #ccc;
  padding-top: 30px;
  .footer_gnb {
    display: flex;
    width: 1100px;
    // justify-content: center;
    margin: 0 auto 80px;
    ul {
      display: flex;
      width: 1000px;
      li {
        width: 20%;
        position: relative;
        height: 40px;
        line-height: 40px;
        .footer_sub {
          position: absolute;
          top: 40px;
          ul {
            display: block;
            width: 200px;
            li {
              width: 100%;
              height: 25px;
              line-height: 25px;
              a {
                display: block;
                color: #ccc;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .footer_logo {
      width: 100px;
    }
  }
  .footer_b {
    .footer_award {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    .footer_tnb {
      ul {
        display: flex;
        justify-content: center;
        li {
          padding: 0 10px;
          a {
            display: block;
            font-size: 14px;
            color: #ccc;
          }
          .txt_green {
            color: #00b050;
          }
        }
      }
    }
    .footer_map {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      a {
        display: block;
        width: 120px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid #fff;
        color: #fff;
        margin: 10px;
      }
    }
    .footer_info {
      text-align: center;
      font-size: 14px;
      margin-top: 20px;
      padding-bottom: 30px;
      .txt_br {
        display: block;
        margin-top: 10px;
      }
    }
  }
}
